/* Variables for the document */
:root {
    --white: #ffffff;
    --black: #1A1A1A;
    --primary: #FFD047;
    --primary-light: #FFF8E5;
    --grey: #737373;
    --grey-light: #E6E5EA;

    --unit:10px;

    --broder-radius:12px;

    --desktop:1280px;

    --animation-time:.4s;
}


/* Globals */
html{
    font-size: 62.5%;
}
body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title{
    font-size: clamp(1rem, 5.5vw, 7.2rem);
    font-weight: bold;
    margin: 0;
}
.text{
    font-size: clamp(1.2rem, 2.5vw, 3.2rem);
    font-weight: regular;
    color: var(--grey);
}
button{
    padding: var(--unit) calc(var(--unit)*2);
    border-radius: var(--broder-radius);
    border: 0;
    background-color: var(--black);
    color: var(--white);
}
section{
    margin-bottom: calc(var(--unit) * 6);
}


/* header */
header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    padding:calc(var(--unit) * 2) 0;
    background-color: var(--primary-light);
    opacity: 0;
    transform: translateY(-50px);
    transition: all ease-in-out var(--animation-time);
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--desktop);
    margin: auto;
}

/* Banner inicio */
.banner-inicio{
    padding-top: 100px;
    position: relative;
    background-color: var(--primary-light);
    opacity: 0;
    transition: all ease-in-out var(--animation-time);
}
.banner-inicio > img{
    display: block;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    opacity: 0;
    transform: translateY(50px);
    transition: all ease-in-out var(--animation-time);
    transition-delay: calc(var(--animation-time)/1.5);
}
.banner-inicio > .title{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    opacity: 0;
    transition: all ease-in-out var(--animation-time);
    transition-delay: calc(var(--animation-time)*1.2);
}

/* Section 01, 02, 03 */
.section{
    max-width: var(--desktop);
    position: relative;
    margin-left: auto;
    margin-right:auto;
    opacity: 0;
    transition: all ease-in-out var(--animation-time);
}
.section .contenedor{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#section-02 .contenedor{
    flex-direction: row-reverse;
    justify-content: space-between
}
.section .contenedor > div img{
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}
.section::before{
    content: '';
    display: block;
    width: 100%;
    height: calc(100% - calc(var(--unit) * 8));
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--primary-light);
    border-radius: calc(var(--broder-radius)*2);
    z-index: -1;
}
.section .contenedor > div:nth-of-type(1){
    width: 45%;
    position: relative;
    top: calc(var(--unit) * 4);
    opacity: 0;
    transform: translateY(50px);
    transition: all ease-in-out var(--animation-time);
    transition-delay: var(--animation-time);
}
.section .contenedor > div:nth-of-type(2){
    width: 50%;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: all ease-in-out var(--animation-time);
    transition-delay: calc(var(--animation-time)*1.5);
}
.section .contenedor > div:nth-of-type(2)::after{
    content: '';
    display: block;
    width: 160px;
    height: 16px;
    background-image: url('img/004.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: all ease-in-out var(--animation-time);
    transition-delay: calc(var(--animation-time)*2);
}
#section-01 .contenedor > div:nth-of-type(2)::after{
    top: 32%;
    left: 0;
    transform: rotate(180deg);
}
#section-02 .contenedor > div:nth-of-type(2)::after{
    top: 35.5%;
    right: 0;
}
#section-03 .contenedor > div:nth-of-type(2)::after{
    top: 32%;
    left: 0;
    transform: rotate(180deg);
}


/* Footer */
footer{
    padding: calc(var(--unit)*2) 0 calc(var(--unit)*6) 0;
    text-align: center;
    font-size: 24px;
}
footer a{
    color: var(--black);
}


/* Waypoints animation */
header.waypoint{
    opacity: 1;
    transform: translateY(0px);
}
.waypoint.banner-inicio{
    opacity: 1;
}
.waypoint.banner-inicio > img{
    opacity: 1;
    transform: translateY(0px);
}
.waypoint.banner-inicio > .title{
    opacity: 1;
}
.waypoint.section{
    opacity: 1;
    transition: all ease-in-out .3s;
}
.waypoint.section .contenedor > div:nth-of-type(1),
.waypoint.section .contenedor > div:nth-of-type(2){
    opacity: 1;
    transform: translateY(0px);
}
.waypoint#section-01 .contenedor > div:nth-of-type(2)::after{
    left: -12%;
    opacity: 1;
}
.waypoint#section-02 .contenedor > div:nth-of-type(2)::after{
    right: -6%;
    opacity: 1;
}
.waypoint#section-03 .contenedor > div:nth-of-type(2)::after{
    left: -15%;
    opacity: 1;
}


/* Media queries */
@media (max-width: 1300px) {
    header div{
        padding: 0 calc(var(--unit)*2);
    }
    .section{
        max-width:calc( 100% - calc(var(--unit)*4));
    }
}

@media (max-width: 768px) {
    .banner-inicio{
        overflow: hidden;
    }
    .banner-inicio > img{
        position: relative;
        left: -30%;
        width: 160%;
    }
    .section{
        background-color: var(--primary-light);
        border-radius: var(--broder-radius);
        overflow: hidden;
    }
    .section .contenedor{
        display: block;
    }
    .section::before{
        content: none;
    }
    .section .contenedor > div:nth-of-type(1){
        width: 80%;
        text-align: center;
        margin:0 auto calc(var(--unit)*6) auto;
    }
    .section .contenedor > div:nth-of-type(2){
        width: 80%;
        margin: auto;
        padding-top: calc(var(--unit)*4);
    }
    #section-01 .contenedor > div:nth-of-type(2)::after,
    #section-02 .contenedor > div:nth-of-type(2)::after,
    #section-03 .contenedor > div:nth-of-type(2)::after{
        top: calc(var(--unit)*12);
        left: calc(50% - 80px);
        transform: rotate(-90deg);
        z-index: 0;
        opacity: 0;
    }
    .waypoint#section-01 .contenedor > div:nth-of-type(2)::after,
    .waypoint#section-02 .contenedor > div:nth-of-type(2)::after,
    .waypoint#section-03 .contenedor > div:nth-of-type(2)::after{
        top: calc(var(--unit)*7);
        left: calc(50% - 80px);
        opacity: 1;
    }
}

@media (max-width: 575px) {
    header > div svg{
        display: block;
        width: 135px;
        height: 20px;
    }
    .section .contenedor > div:nth-of-type(2){
        width: 100%;
    }
    footer{
        font-size: 18px;
    }
}